@font-face {
    font-family: 'Montserrat-Medium';
    src: url(Fonts/Montserrat-Medium.ttf);
}

#favicon {
    width: 50px;
    height: 50px;
}

body {
    background-color: #000000;
    font-family: 'Montserrat-Medium';
}

#barranav {
    background-color: #000000;
    height: 70px;
    border-style: solid;
    border-color: #ffffff;
}

#logo_barranav {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 5px;
}

#barranav nav ul {
    position: relative;
    bottom: 70px;
}

#barranav nav ul li {
    display: inline-block;
    margin-left: 12%;
    margin-top: 25px;
}

#barranav nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#barranav nav ul li a:hover {
    color: #D6C7B0;
}

#titulo-home {
    font-size: 70px;
    text-align: center;
    color: #ffffff;
}

#phome {
    text-align: center;
    color: #ffffff;
}

#firma {
    color: #000000;
    font-size: 8px;
    text-align: left;
}

.container {
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

footer {
    background-color: #D6C7B0;
    margin-left: 0px;
    width: 100%;
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px, 0px;
}

#visitus {
    color: #000000;
    font-size: 16px;
    text-align: left;
    margin-left: 3px;
}

#pfooter {
    text-align: center;
}

#logofooter {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

footer .redes {
    width: 30px;
    height: 30px;
    margin: 5px;
}

#bannerhome {
    display: block;
    margin: auto;
    border-style: solid;
    border-color: #ffffff;
}